# jekyll live server build
_site/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Visual Studio Code
.vscode/
.history/

# React specific
node_modules/
npm-debug.log
yarn-error.log
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
app.json

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

testReactNative/testReactNative/.env
testReactNative/testReactNative/app/google-services.json
green-fingers/app.json
green-fingers/firebase/serviceAccountKey.json
