@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

:root {
  --primary: rgb(63, 155, 63);
  --secondary: rgb(157, 238, 157);
  --background: rgb(220, 255, 220);
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0;
}

h1 {
  height: 4rem;
  padding-left: 1rem;
  line-height: 4rem;
  font-family: 'Protest Guerrilla';
}

h3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: 'Protest Guerrilla';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  background-color: var(--background);
}

ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

li {
  position: relative;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 black;
  transition: all 200ms;
  animation: slideInFromBottom 0.5s ease-out forwards;
  width: 100%;
}

li:hover {
 opacity: 0.8;
 cursor: pointer;
}

li:active {
  scale: 0.95;
}

.page-title {
  background-color: var(--primary);
  color: white;
  width: 100vw;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0 4px 0 black;
}

footer {
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  height: 2rem;
  line-height: 2rem;
  width: 100vw;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.grass-container {
  position: relative;
  padding: 2em 2em;
  background-color: rgb(200, 252, 200);
  border: solid 1px;
  border-color: var(--primary);
  border-radius: 8px;
  width: 80%;
  overflow: hidden;
  padding-top: 4rem;
  box-shadow: 2px 2px 4px 0 black;
  animation: slideInFromBottom 0.5s ease-out forwards;
  opacity: 0;
}

.grass-container h3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  height: 1.5rem;
  width: 100%;
  padding-left: 2rem;
  color: white;
}

.go-back-button {
  position: fixed;
  top: 3rem;
  right: 1rem;
  background-color: var(--secondary);
  padding: 0.5rem;
  border-radius: 1000px;
}