* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}
body {
  background-color: rgb(220, 255, 220);
}

.page-title {
  position: fixed;
  top: 0;
  background-color: green;
  color: white;
  width: 1vw;
}
